{% extends 'recipe/base.html' %}
{% block main_area %}

        <!-- Page Header-->
        <header class="masthead" style="background-image: url('assets/img/post-bg.jpg')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="post-heading">
                            <h1>식품 영양 정보 검색하기</h1>
                            <!-- <h2 class="subheading">식약처의 식품영양성분 데이터베이스입니다.</h2> -->
                            <span class="meta">
                                식약처의 식품영양성분 데이터베이스입니다.
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Post Content-->
        <article class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                       
						<form action="searchDB.jsp" method="post">
  							검색할 식품명 : <input type="text" name="foodname">
  							<input type="submit" value="검색">
						</form>
						
					
                    </div>
                </div>
            </div>
        </article>

{% endblock %}
