<!DOCTYPE html>
{% load static %}

<html lang="en">
    <head>
        {% include 'recipe/header.html' %}
    </head>
    
    <body>
        <div class="container my-5">
            <div class="row">
                <div class="col-4">
                    <h4>LOG IN</h4>
            </div>
            <div class="input-field col s6 m6 l6">
            <p class="margin medium-small">아직 회원이 아니세요?<a href="{% url 'accounts:signup' %}">회원가입 하세요!</a></p>
            </div>
        </div>
            
            <form method="post" class="post-form">
                {% csrf_token %}
                {% include "accounts/form_errors.html" %}
                <div class="form-group">
                    <label for="username">ID</label>
                    <input type="text" class="form-control" name="username" id="username"
                       value="{{ form.username.value|default_if_none:'' }}">
                </div>
                <br/>
                
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" name="password" id="password"
                       value="{{ form.password.value|default_if_none:'' }}">
                </div> 
                <br/>
                <button type="submit" class="btn btn-outline-primary float-right">LOG IN</button>
            </form>
        </div>
        
        {% include 'recipe/footer.html' %}
    </body>
</html>