<!DOCTYPE html>
{% load static %}

<html lang="en">
    <head>
        {% include 'recipe/header.html' %}
    </head>
    
    <body>
        <div class="container my-3">
            
            <div class="row my-3">
                <div class="col-4">
                    <h4>SIGN UP</h4>
                </div>
                <div class="col-8 text-right">
                    <span> 회원이세요?  <a href="{% url 'accounts:login' %}">Go to LOG-IN</a></span>
                </div>
            </div>
            
            <form method="post" class="post-form">
                {% csrf_token %}
                {% include "accounts/form_errors.html" %}
                <div class="form-group">
                    <label for="username">USERNAME</label>
                    <input type="text" class="form-control" name="username" id="username"
                           value="{{ form.username.value|default_if_none:'' }}">
                </div>
            
                <div class="form-group">
                    <label for="password1">PASSWORD</label>
                    <input type="password" class="form-control" name="password1" id="password1"
                           value="{{ form.password1.value|default_if_none:'' }}">
                </div>
            
                <div class="form-group">
                    <label for="password2">PASSWORD AGAIN</label>
                    <input type="password" class="form-control" name="password2" id="password2"
                           value="{{ form.password2.value|default_if_none:'' }}">
                </div>
            
                <div class="form-group">
                    <label for="email">E-MAIL</label>
                    <input type="text" class="form-control" name="email" id="email"
                           value="{{ form.email.value|default_if_none:'' }}">
                </div>
                <button type="submit" class="btn btn-outline-primary float-right">SIGN UP</button>
            </form>
        </div>
        
        {% include 'recipe/footer.html' %}
    </body>
</html>